<div style="padding-left:20px;">
    <div>
        <label for="address1">Address 1: </label>
        <input type="text" formControlName="address1">
    </div>
    <div>
        <label for="address2">Address 2: </label>
        <input type="text"  formControlName="address2">
    </div>
    <div>
        <label for="city">City: </label>
        <input type="text" formControlName="city">
    </div>
    <div>
        <label for="state">State: </label>
        <input type="text" formControlName="state">
    </div>
    <div>
        <label for="zip">Zip: </label>
        <input type="text" formControlName="zip">
    </div>
</div>
